/* 
.title, .subtitle {
  color: #FFB100;
}

.card {
  background-color: #003844;
}

.card-image img {
  max-width: 100%;
  max-height: auto;
}

.button.is-link {
  color: #FFB100;
  background-color: #EF81A7;
}

title {
  display: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */
